
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=Seymour+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sevillana&display=swap');



body {
    background-color: #000;
    color: #fff;
    text-align: center;
}

canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.wish{
    font-family: 'Sevillana';
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 4pc;
    margin-bottom: 0;
    margin-top: 10%;
    opacity: 1;
    animation: fadeIn 3s ease-in-out forwards;
}

.happy{
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin-top: 0.7%;
    margin-bottom: 0;
    padding: 0;
    font-size: 5pc;
    opacity: 0;
    animation: fadeIn 3s ease-in-out forwards;
}

.sub{
    font-family: 'Press Start 2P', sans-serif;
    display: flex;
    margin-top: 5px;
    padding-top: 0;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    font-size: 3pc;
    opacity: 1;
    animation: fadeIn 3s ease-in-out forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0; 
    }
    to {
        opacity: 1; 
    }
}

.nav-pills{
    margin-top: 15px;
}

header {
    border-bottom: 0.01px solid; /* Change 'red' to your desired color */
    padding: 10px 0; /* Add padding to separate the border from the content */
}

.nav, .d-block{
    margin-right: 10px;
    margin-left: 10px;
}

